/* table of contents
  1. default css
  2. main css
    2.1 header
    2.2 slider
    2.3 categories
    2.4 footer
*/
/*==================
    default css
===================*/
body {
  margin: 0;
  padding: 0;
}
section {
  margin: 50px 0;
}
button {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
}
/*==================
    main css
===================*/
/* header */
nav {
  transition: 0.5s;
}
nav.sticky {
  background: #fff;
  box-shadow: 0 0 25px #666;
}
/* slider */
.slider {
  margin: 100px 0;
}
.price {
  color: #ff136f;
}
.bg-light-pink {
  background-color: #fceae8;
  border-radius: 10px;
}
/* categories */
.bg-dark-pink {
  background-color: #ff136f;
  border-radius: 10px;
}
.categories img {
  width: 100px;
}
/* footer */
input {
  background: #fff;
  color: #666;
  height: 43px;
  width: 31%;
  border: none;
  padding: 0 20px;
  margin-right: -5px;
}
