@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");
header {
  background: #1c2b35;
  padding: 20px 50px;
  font-family: "Nunito", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
a {
  text-decoration: none;
}
.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-menu li {
  display: inline-block;
  padding: 0 20px;
}
.main-menu a {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 20px;
}
