.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 90vh;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 100px 50px;
}
.pagination-buttons button {
  border: 1px solid #c87d00;
  background: #fff;
  padding: 0 8px;
  margin: 0 2px;
}
.pagination-buttons button.active {
  background: #c87d00;
  color: #fff;
}
.cart-container {
  background-color: rgba(255, 153, 0, 0.3);
}
@media screen and (max-width: 1100px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
