* {
  transition: all 0.3s;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social-login button {
  display: block;
  margin: 20px auto;
  padding: 10px 50px;
  border-radius: 5px;
}
.or {
  position: relative;
  font-size: 20px;
}
.or::before,
.or::after {
  position: absolute;
  top: 12px;
  width: 40%;
  height: 2px;
  background: #0d6efd;
  content: "";
}
.or::before {
  left: 0;
}
.or::after {
  right: 0;
}
