/* ------------------------
     default css 
----------------------------
*/

body {
  font-family: "Poppins", sans-serif;
  background: #f3f1ff;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
hr {
  margin: 29px 0;
  border: 1px solid #d1d1d1;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section-title {
  font-weight: 500;
  font-size: 24px;
  color: #562eff;
  margin: 0;
  margin-bottom: 24px;
}
.container {
  width: 870px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  margin-top: 21px;
}

/*----------------------------
    top-players css start
---------------------------- */

.top-palyers {
  background: #fff;
  text-transform: capitalize;
}
.player-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player p {
  padding: 18px;
  font-weight: 600;
}

/* ----------------------------
    top-player css end
---------------------------- */

/* ----------------------------
     top-blogs css start 
----------------------------*/

.blogs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 26px;
}
.blog {
  display: flex;
  align-items: center;
}
.thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-content {
  padding: 20px;
}
.blog-author {
  color: #9f9f9f !important;
  font-size: 16px;
}
.blog-author a {
  color: #562eff;
}
/* ----------------------------
    top-blogs css end 
---------------------------- */
/*----------------------------
    course css start
 ---------------------------- */

.course-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.course {
  width: 250px;
  height: 300px;
  box-shadow: 0 10px 16px #ddd;
  padding: 13px;
  border-radius: 9px;
}
.course-banner img {
  width: 100%;
  height: 100%;
}
.cousre-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.rating svg {
  color: #e7e7e7;
  font-size: 10px !important;
}
svg.filled {
  color: #ffc014;
}
.course-duration {
  border-radius: 20px;
  background: #ffe4e8;
  color: red;
  padding: 9px 12px;
  font-size: 12px;
  text-align: center;
}
/*----------------------------
    course css end 
 ----------------------------*/

/* ----------------------------
    Responsive css 
 ---------------------------- */
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  .container {
    width: 550px;
  }
  .blogs-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .course-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .course img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 688px) {
  .container {
    width: 400px;
  }
  .player-container,
  .blogs-container,
  .course-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .course {
    width: 90%;
    height: 90%;
  }
  .course img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
}
